[Unit]
Description=Mycenae timeseries database

[Service]
WorkingDirectory=/usr/local/bin/
Type=forking
ExecStart=/bin/bash mycenaeStart.sh
ExecStop=/bin/bash mycenaeStop.sh
User=mycenae
Group=mycenae
KillMode=process

[Install]
Alias=mycenae.service
WantedBy=multi-user.target
