[Unit]
Description=Mycenae timeseries database

[Service]
WorkingDirectory=/usr/local/bin/
Type=forking
ExecStart=/bin/bash mycStart.sh
ExecStop=/bin/bash mycStop.sh
LimitNOFILE=99999
User=mycenae
Group=mycenae
KillMode=process

[Install]
Alias=mycenae.service
WantedBy=multi-user.target
